apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo_app
  template:
    metadata:
      labels:
        app: todo_app
    spec:
      containers:
        - name: todo-app
          image: junior246/todo_app