apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log_output
  template:
    metadata:
      labels:
        app: log_output
    spec:
      containers:
        - name: log-output
          image: junior246/log_output