name: Delete environment

on:
  delete:
    branches:
      - '*'

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: dwk-cluster
  GKE_ZONE: europe-west3-c

jobs:
  delete-namespace:
    if: github.event.ref_type == 'branch' && github.event.ref != 'main'
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: 'projects/668823593060/locations/global/workloadIdentityPools/github/providers/github-provider'
          service_account: 'github-actions@project-8e8aec54-2e81-49e9-951.iam.gserviceaccount.com'

      - name: 'Get GKE credentials'
        uses: 'google-github-actions/get-gke-credentials@v2'
        with:
          cluster_name: '${{ env.GKE_CLUSTER }}'
          project_id: '${{ env.PROJECT_ID }}'
          location: '${{ env.GKE_ZONE }}'

      - name: Delete namespace
        run: |
          NAMESPACE=${{ github.event.ref }}
          kubectl delete namespace $NAMESPACE --ignore-not-found